.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ddd;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 0.1rem 0;
  padding: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cardId {
  font-size: 0.8em;
  color: #898282;
}

.cardTitle {
  font-weight: 600;
  font-size: 0.9em;
}

.cardFooter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.cardPriority {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.1rem;
  font-size: 1em;
}

.cardType {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardTypeNameContainer {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  font-size: 0.8em;
  color: #898282;
}

.cardTypeName {
  display: flex;
  font-size: 0.8em;
}

.cardTypeNameIcon {
  display: flex;
  font-size: 1em;
}
