@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.gap-0-2 {
  gap: 0.2rem;
}

.gap-0-4 {
  gap: 0.4rem;
}

.gap-0-6 {
  gap: 0.6rem;
}

.icon-button {
  border: none;
  padding: 0.4rem 0.6rem;
  background: transparent;
  cursor: pointer;
  transition: ease-in-out 200ms;
  border-radius: 5px;
}

.icon-button:hover {
  background-color: #ddd;
}
